<section class="section about-us" id="about-us">
  <div class="container about-us-container">

    <div class="about-us-card">
      <h2 class="section-title">About Us</h2>
      <p class="about-us-text">Welcome to our premium watch collection, where luxury and style meet functionality and
        precision.
        Our
        selection of timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that
        you'll always have a reliable and stylish accessory on your wrist.</p>
      <p class="about-us-text statement">At our premium watch collection, we believe that a watch is more than just a
        timekeeping
        device
        – it's a
        statement piece that reflects your personality and style. So why settle for anything less than the best?
      </p>
      <a class="view-catalog-button" href="#catalog">View</a>
    </div>


    <picture>
      <source media="(min-width: 1280px )" srcset="img/about_us-dt.jpg 1x, img/about_us-dt2x.jpg 2x" width="530"
        height="556" />

      <source media="(min-width: 768px )" srcset="img/about_us-tab.jpg 1x, img/about_us-tab2x.jpg 2x" width="704"
        height="556" />

      <source media="(min-width: 375px)" srcset="img/about_us-mob.jpg 1x, img/about_us-mob2x.jpg 2x" width="335"
        height="512" />

      <img src="img/about_us-dt.jpg" alt="watchhh" width="530" height="556">
    </picture>
  </div>
</section>