<section class="section catalog" id="catalog">
  <div class="container">
    <h2 class="section-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-thumb">
          <picture>
            <source media="(min-width: 1280px)" srcset="img/garmin_fenix_7X-dt.png 1x, img/garmin_fenix_7X-dt2x.png 2x"
              width="292" height="292">
            <source media="(min-width: 768px)" srcset="img/garmin_fenix_7X-tab.png 1x, img/garmin_fenix_7X-tab2x.png 2x"
              width="268" height="292">
            <source media="(max-width: 767px)" srcset="img/garmin_fenix_7X-mob.png 1x, img/garmin_fenix_7X-mob2x.png 2x"
              width="208" height="226">
            <img class="catalog-img" src="img/garmin_fenix_7X-dt.png" alt="Garmin Fenix 7X Pro Sapphire Solar"
              width="292" height="292">
          </picture>
        </div>
        <h3 class="watch-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="watch-price">€500</p>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb">
          <picture>
            <source media="(min-width: 1280px)" srcset="img/garmin_marq-dt.png 1x, img/garmin_marq-dt2x.png 2x"
              width="292" height="292">
            <source media="(min-width: 768px)" srcset="img/garmin_marq-tab.png 1x, img/garmin_marq-tab2x.png 2x"
              width="268" height="292">
            <source media="(max-width: 767px)" srcset="img/garmin_marq-mob.png 1x, img/garmin_marq-mob2x.png 2x"
              width="208" height="226">
            <img class="catalog-img" src="img/garmin_marq-dt.png" alt="Garmin Marq Athlete " width="292" height="292">
          </picture>
        </div>
        <h3 class="watch-name">Garmin Marq Athlete </h3>
        <p class="watch-price">€450</p>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb">
          <picture>
            <source media="(min-width: 1280px)" srcset="img/garmin-descent_dt.png 1x, img/garmin-descent_dt2x.png 2x"
              width="292" height="292">
            <source media="(min-width: 768px)" srcset="img/garmin-descent_tab.png 1x, img/garmin-descent_tab2x.png 2x"
              width="268" height="292">
            <source media="(max-width: 767px)" srcset="img/garmin-descent_mob.png 1x, img/garmin-descent_mob2x.png 2x"
              width="208" height="226">
            <img class="catalog-img" src="img/garmin-descent_dt.png" alt="Garmin Descent MK1 " width="292" height="292">
          </picture>
        </div>
        <h3 class="watch-name">Garmin Descent MK1 </h3>
        <p class="watch-price">€680</p>
      </li>
      <li class="catalog-item">
        <div class="catalog-thumb">
          <picture>
            <source media="(min-width: 1280px)" srcset="img/garmin_d2-dt.png 1x, img/garmin_d2-dt2x.png 2x" width="292"
              height="292">
            <source media="(min-width: 768px)" srcset="img/garmin_d2-tab.png 1x, img/garmin_d2-tab2x.png 2x" width="268"
              height="292">
            <source media="(max-width: 767px)" srcset="img/garmin_d2-mob.png 1x, img/garmin_d2-mob2x.png 2x" width="208"
              height="226">
            <img class="catalog-img" src="img/garmin_d2-dt.png" alt="Garmin D2 Delta PX" width="292" height="292">
          </picture>
        </div>
        <h3 class="watch-name">Garmin D2 Delta PX</h3>
        <p class="watch-price">€380</p>
      </li>
      <li class="catalog-item item-hidden">
        <div class="catalog-thumb">
          <picture>
            <source media="(min-width: 1280px)" srcset="img/garmin-fenix-dt.png 1x, img/garmin-fenix-dt2x.png 2x"
              width="292" height="292">
            <source media="(min-width: 768px)" srcset="img/garmin-fenix-tab.png 1x, img/garmin-fenix-tab2x.png 2x"
              width="268" height="292">
            <img class="catalog-img" src="img/garmin-fenix-dt.png" alt="Garmin Fenix 6 Pro Solar" width="292"
              height="292">
          </picture>
        </div>
        <h3 class="watch-name">Garmin Fenix 6 Pro Solar</h3>
        <p class="watch-price">€400</p>
      </li>
      <li class="catalog-item item-hidden">
        <div class="catalog-thumb">
          <picture>
            <source media="(min-width: 1280px)" srcset="img/tube-dt.png 1x, img/tube-dt2x.png 2x" width="292"
              height="292">
            <source media="(min-width: 768px)" srcset="img/tube-tab.png 1x, img/tube-tab2x.png 2x" width="268"
              height="292">
            <img class="catalog-img" src="img/tube-dt.png" alt="Tube Watch S42 Date Steel With Black Case" width="292"
              height="292">
          </picture>
        </div>
        <h3 class="watch-name">Tube Watch S42 Date Steel With Black Case</h3>
        <p class="watch-price">€395</p>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>