<footer class="footer">
  <div class="container footer-container">
    <div class="footer-links-wrapper">
      <div class="footer-links">
        <a href="#" class="footer-logo">watchcharm</a>
        <ul class="social-media-list footer-social-media-list">
          <li class="social-media-item">
            <a href="https://www.facebook.com/goITclub/" class="social-media-link" target="_blank"
              rel="noopener noreferrer">
              <svg class="social-media-icon" width="20" height="20">
                <use href="img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-media-item">
            <a href="https://www.instagram.com/goitclub/" class="social-media-link" target="_blank"
              rel="noopener norefferer">
              <svg class="social-media-icon" width="20" height="20">
                <use href="img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-media-item">
            <a href="https://www.youtube.com/c/GoIT" class="social-media-link" target="_blank"
              rel="noopener norefferer">
              <svg class="social-media-icon" width="20" height="20">
                <use href="img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <button class="btn-contact">+380 (68) 443-94-26</button>
      <p class="footer-title">Have the time of your life with our watches: where high-class craftsmanship
        meets
        impeccable design</p>
    </div>
    <div class="footer-menu-wrapper">
      <nav class="footer-menu">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="#home" class="footer-nav-link">Home</a>
          </li>
          <li class="footer-nav-item">
            <a href="#about-us" class="footer-nav-link">About Us</a>
          </li>
          <li class="footer-nav-item">
            <a href="#catalog" class="footer-nav-link">Catalog</a>
          </li>
          <li class="footer-nav-item">
            <a href="#sale" class="footer-nav-link">Sale</a>
          </li>
          <li class="footer-nav-item">
            <a href="#review" class="footer-nav-link">Reviews</a>
          </li>
          <li class="footer-nav-item">
            <a href="#contact-us" class="footer-nav-link">Contact Us</a>
          </li>
        </ul>
      </nav>
      <address class="footer-address">
        1678 S. Pioneer Road Salt Lake City UT 84104
      </address>
    </div>
    <span class="footer-divider"></span>
    <div class="footer-legalities-box">
      <p class="rights">©2023 The Watch Spot. All rights reserved.</p>
      <div class="legalities-links">
        <a href="#" class="legalities">Terms of Service</a>
        <a href="#" class="legalities">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>