<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="index.html">watchcharm</a>
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-link" href="index.html">Home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#about-us">About Us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#catalog">Catalog</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#sale">Sale</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="#contact-us">Contact Us</a>
        </li>
      </ul>
      <ul class="header-icon-list">
        <li class="header-icon-item">
          <a href="https://www.facebook.com/goITclub/" class="header-icon-link" target="_blank"
            rel="noopener norefferer">
            <svg class="header-icon" width="20" height="20">
              <use href="img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-icon-item">
          <a href="https://www.instagram.com/goitclub/" class="header-icon-link" target="_blank"
            rel="noopener norefferer">
            <svg class="header-icon" width="20" height="20">
              <use href="img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-icon-item">
          <a href="https://www.youtube.com/c/GoIT" class="header-icon-link" target="_blank" rel="noopener norefferer">
            <svg class="header-icon" width="20" height="20">
              <use href="img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <button type="button" class="icon-open-btn" data-modal-open-mob>
      <svg width="34" height="34" class="icon-btn-svg">
        <use href="img/icons.svg#icon-open-btn"></use>
      </svg>
    </button>
  </div>


  <div class="mob-menu" data-modal-mob>
    <button type="button" class="close-menu-btn" data-modal-close-mob><svg class="modal-close-icon" width="20"
        height="20">
        <use href="img/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <nav>
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="index.html">Home</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#about-us">About Us</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#catalog">Catalog</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#sale">Sale</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#reviews">Reviews</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="social-media-list mod-menu-social-media">
      <li class="social-media-item">
        <a href="https://www.facebook.com/goITclub/" class="social-media-link" target="_blank"
          rel="noopener noreferrer">
          <svg class="social-media-icon" width="20" height="20">
            <use href="img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item">
        <a href="https://www.instagram.com/goitclub/" class="social-media-link" target="_blank"
          rel="noopener norefferer">
          <svg class="social-media-icon" width="20" height="20">
            <use href="img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item">
        <a href="https://www.youtube.com/c/GoIT" class="social-media-link" target="_blank" rel="noopener norefferer">
          <svg class="social-media-icon" width="20" height="20">
            <use href="img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>