<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html"
        >watchcharm</a
      >
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a class="header-menu-link" href="./index.html">Home</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">About Us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Catalog</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Sale</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Contact Us</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="">Catalog</a>
      </ul>
      <ul class="header-icon-list">
        <li class="header-icon-item">
          <a href="https://www.facebook.com/goITclub/" class="header-icon-link">
            <svg class="header-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-icon-item">
          <a href="https://www.instagram.com/goitclub/" class="header-icon-link">
            <svg class="header-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-icon-item">
          <a href="https://www.youtube.com/c/GoIT" class="header-icon-link">
            <svg class="header-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
    </nav>
    <button type="button" class="icon-open-btn" data-modal-open-mob><svg width="34" height="34" class="icon-btn-svg"><use href="../img/icons.svg#icon-open-btn"></use></svg></button>
  </div>
  <div class="mob-menu " data-modal-mob>
    <button type="button" class="close-menu-btn" data-modal-close-mob><svg class="modal-close-icon" width="20" height="20"><use href="../img/icons.svg#icon-close-btn"></use></svg></button>
    <ul class="mob-menu-list">
      <li class="mob-menu-item">
        <a class="mob-menu-link first-menu-item" href="./index.html">Home</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="">About Us</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="">Catalog</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="">Sale</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="">Reviews</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="">Contact Us</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="">Catalog</a>
    </ul>
    </nav>
  <div class="mob-menu-box">
      <ul class="mob-icon-list">
        <li class="mob-icon-item">
          <a href="https://www.facebook.com/goITclub/" class="mob-icon-link">
            <svg class="mob-icon" width="18" height="18">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mob-icon-item">
          <a href="https://www.instagram.com/goitclub/" class="mob-icon-link">
            <svg class="mob-icon" width="18" height="18">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mob-icon-item">
          <a href="https://www.youtube.com/c/GoIT" class="mob-icon-link">
            <svg class="mob-icon" width="18" height="18">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
</header>