<section class="hero section">
  <div class="container hero-container">
    <div class="hero-description">
      <h1 class="hero-title">
        Welcome to our <span class="hero-title-span">collection</span> of
        premium watches
      </h1>
      <p class="hero-description-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-nonsense">
      <div class="collage">
        <picture class="collage-item">
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/collage/vika-dt.jpg   1x,
              ../img/collage/vika-dt2x.jpg 2x
            "
            width="60"
            height="60"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/collage/vika-tab.jpg   1x,
              ../img/collage/vika-tab2x.jpg 2x
            "
            width="56"
            height="56"
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ../img/collage/vika-mob.jpg   1x,
              ../img/collage/vika-mob2x.jpg 2x
            "
            width="44"
            height="44"
          />
          <img
            src="../img/collage/vika-mob.jpg"
            alt="Victoria Romashenko"
            width="44"
            height="44"
          />
        </picture>

        <picture class="collage-item">
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/collage/john-dt.jpg   1x,
              ../img/collage/john-dt2x.jpg 2x
            "
            width="60"
            height="60"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/collage/john-tab.jpg   1x,
              ../img/collage/john-tab2x.jpg 2x
            "
            width="56"
            height="56"
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ../img/collage/john-mob.jpg   1x,
              ../img/collage/john-mob2x.jpg 2x
            "
            width="44"
            height="44"
          />
          <img
            src="../img/collage/john-mob.jpg"
            alt="John Wax"
            width="44"
            height="44"
          />
        </picture>

        <picture class="collage-item">
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/collage/nastia-dt.jpg   1x,
              ../img/collage/nastia-dt2x.jpg 2x
            "
            width="60"
            height="60"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/collage/nastia-tab.jpg   1x,
              ../img/collage/nastia-tab2x.jpg 2x
            "
            width="56"
            height="56"
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ../img/collage/nastia-mob.jpg   1x,
              ../img/collage/nastia-mob2x.jpg 2x
            "
            width="44"
            height="44"
          />
          <img
            src="../img/collage/nastia-mob.jpg"
            alt="Anastasia Trachuk"
            width="44"
            height="44"
          />
        </picture>
      </div>

      <a href="#FOOTER" class="hero-nonsense-link">Scroll down</a>
    </div>
    <div>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="img/hero-dt.jpg 1x, img/hero-dt2x.jpg 2x"
          width="1150"
          height="500"
        />
        <source
          media="(min-width: 768px)"
          srcset="img/hero-tab.jpg 1x, img/hero-tab2x.jpg 2x"
          width="704"
          height="520"
        />
        <source
          media="(min-width: 375px)"
          srcset="img/hero-mob.jpg 1x, img/hero-mob2x.jpg 2x"
          width="335"
          height="366"
        />
        <img
          class="hero-image"
          src="img/hero-mob.jpg"
          alt="Hero image"
          width="335"
          height="366"
        />
      </picture>
    </div>
    <!-- <img class="hero-image" src="../img/hero-mob1.jpg" alt="Hero image" /> -->
  </div>
</section>
