<section class="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-wrap">
      <div class="sale-box-image">
        <ul class="sale-list">
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  /img/sale-small-1-mob.png   1x,
                  /img/sale-small-1-mob2x.png 2x
                "
                type="image/jpg"
                media="(min-width: 375px)"
              />
              <source
                srcset="
                  /img/sale-small-1-tab.png   1x,
                  /img/sale-small-1-tab2x.png 2x
                "
                type="image/jpg"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale-small-1-dt.png   1x,
                  /img/sale-small-1-dt2x.png 2x
                "
                type="image/jpg"
                media="(min-width: 1280px)"
              />
              <img
                class="image-sale-item"
                srcset="
                  /img/sale-small-1-mob.png   1x,
                  /img/sale-small-1-mob2x.png 2x
                "
                type="image/jpg"
                src="/img/sale-small-1-mob.png"
                alt="watch"
                width="132px"
                height="132px"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  /img/sale-small-2-mob.png   1x,
                  /img/sale-small-2-mob2x.png 2x
                "
                type="image/jpg"
                media="(min-width: 375px)"
              />
              <source
                srcset="
                  /img/sale-small-2-tab.png   1x,
                  /img/sale-small-2-tab2x.png 2x
                "
                type="image/jpg"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale-small-2-dt.png   1x,
                  /img/sale-small-2-dt2x.png 2x
                "
                type="image/jpg"
                media="(min-width: 1280px)"
              />
              <img
                class="image-sale-item"
                srcset="
                  /img/sale-small-2-mob.png   1x,
                  /img/sale-small-2-mob2x.png 2x
                "
                type="image/jpg"
                src="/img/sale-small-2-mob.png"
                alt=""
                width="132px"
                height="132px"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  /img/sale-small-3-mob.png   1x,
                  /img/sale-small-3-mob2x.png 2x
                "
                type="image/jpg"
                media="(min-width: 375px)"
              />
              <source
                srcset="
                  /img/sale-small-3-tab.png   1x,
                  /img/sale-small-3-tab2x.png 2x
                "
                type="image/jpg"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale-small-3-dt.png   1x,
                  /img/sale-small-3-dt2x.png 2x
                "
                type="image/jpg"
                media="(min-width: 1280px)"
              />
              <img
                class="image-sale-item"
                srcset="
                  /img/sale-small-3-mob.png   1x,
                  /img/sale-small-3-mob2x.png 2x
                "
                src="/img/sale-small-2-mob.png"
                alt=""
                width="132px"
                height="132px"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  /img/sale-small-4-mob.png   1x,
                  /img/sale-small-4-mob2x.png 2x
                "
                type="image/jpg"
                media="(min-width: 375px)"
              />
              <source
                srcset="
                  /img/sale-small-4-tab.png   1x,
                  /img/sale-small-4-tab2x.png 2x
                "
                type="image/jpg"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale-small-4-dt.png   1x,
                  /img/sale-small-4-dt2x.png 2x
                "
                type="image/jpg"
                media="(min-width: 1280px)"
              />
              <img
                class="image-sale-item"
                srcset="
                  /img/sale-small-4-mob.png   1x,
                  /img/sale-small-4-mob2x.png 2x
                "
                type="image/jpg"
                src="/img/sale-small-4-mob.png"
                alt="watch"
                width="132px"
                height="132px"
              />
            </picture>
          </li>
        </ul>
        <div class="sale-image-wrap">
          <picture>
            <source
              srcset="/img/sale-big-mob.png 1x, /img/sale-big-mob2x.png 2x"
              media="(min-width: 375px)"
              type="image/jpg"
            />
            <source
              srcset="/img/sale-big-tab.png 1x, /img/sale-big-tab2x.png 2x"
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="/img/sale-big-dt.png 1x, /img/sale-big-dt2x.png 2x"
              media="(min-width: 1280px)"
              type="image/jpg"
            />
            <img
              class="image-sale"
              srcset="/img/sale-big-mob.png 1x, /img/sale-big-mob2x.png 2x"
              src="/img/sale-big-mob.png"
              alt="watch"
              width="328px"
              height="398px"
            />
          </picture>
        </div>
      </div>
      <div class="discription-sale">
        <h3 class="discription-sale-title">
          MARQ<span>&#174;</span> Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-product-tag">Product tag: 706587</p>
        <p class="sale-text-price">
          <span class="sale-discount">€1500</span
          ><span class="sale-price">€3000</span>
        </p>
        <p class="sale-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="list-advantages-sale">
          <li class="advantages-item-sale">Fused carbon fiber</li>
          <li class="advantages-item-sale">Grade-5 Titanuim</li>
          <li class="advantages-item-sale">Athlete</li>
          <li class="advantages-item-sale">Golfer</li>
          <li class="advantages-item-sale">Commander</li>
          <li class="advantages-item-sale">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
