<section class="section" id="sale">
  <div class="container">
    <h2 class="sale-title section-title">Sale</h2>
    <div class="sale-wrap">
      <div class="sale-box-image">
        <ul class="sale-list">
          <li class="sale-item" data-large="1">
            <picture>
              <source media="(min-width: 1280px)" srcset="
                  img/sale-small-1-dt.png   1x,
                  img/sale-small-1-dt2x.png 2x
                " />
              <source media="(min-width: 768px)" srcset="
                  img/sale-small-1-tab.png   1x,
                  img/sale-small-1-tab2x.png 2x
                " />
              <source media="(max-width: 767px)" srcset="
                  img/sale-small-1-mob.png   1x,
                  img/sale-small-1-mob2x.png 2x
                " />
              <img class="image-sale-item" src="img/sale-small-1-dt.png" alt="watch" width="96" height="100" />
            </picture>
          </li>
          <li class="sale-item" data-large="2">
            <picture>
              <source media="(min-width: 1280px)" srcset="
                  img/sale-small-2-dt.png   1x,
                  img/sale-small-2-dt2x.png 2x
                " />
              <source media="(min-width: 768px)" srcset="img/sale-small-2-tab.png 1x, img/small-2-tab2x.png 2x" />
              <source media="(max-width: 767px)" srcset="
                  img/sale-small-2-mob.png   1x,
                  img/sale-small-2-mob2x.png 2x
                " />
              <img class="image-sale-item" src="img/sale-small-2-dt.png" alt="watch" width="96" height="100" />
            </picture>
          </li>
          <li class="sale-item" data-large="3">
            <picture>
              <source media="(min-width: 1280px)" srcset="
                  img/sale-small-3-dt.png   1x,
                  img/sale-small-3-dt2x.png 2x
                " />
              <source media="(min-width: 768px)" srcset="img/sale-small-3-tab.png 1x, img/small-3-tab2x.png 2x" />
              <source media="(max-width: 767px)" srcset="
                  img/sale-small-3-mob.png   1x,
                  img/sale-small-3-mob2x.png 2x
                " />
              <img class="image-sale-item" src="img/sale-small-3-dt.png" alt="watch" width="96" height="100" />
            </picture>
          </li>
          <li class="sale-item" data-large="4">
            <picture>
              <source media="(min-width: 1280px)" srcset="
                  img/sale-small-4-dt.png   1x,
                  img/sale-small-4-dt2x.png 2x
                " />
              <source media="(min-width: 768px)" srcset="
                  img/sale-small-4-tab.png   1x,
                  img/sale-small-4-tab2x.png 2x
                " />
              <source media="(max-width: 767px)" srcset="
                  img/sale-small-4-mob.png   1x,
                  img/sale-small-4-mob2x.png 2x
                " />
              <img class="image-sale-item" src="img/sale-small-4-dt.png" alt="watch" width="96" height="100" />
            </picture>
          </li>
        </ul>

        <!-- ---------------------------------------------------------------------------------------------------------  -->
        <div class="sale-image-wrap">
          <ul class="large-slide">
            <li class="sale-item-big" id="large-1">
              <picture>
                <source media="(min-width: 1280px)" srcset="
                img/slider/exhibition-watch-front-1-dt.png  1x,
                img/slider/exhibition-watch-front-1-dt-2x.png 2x
                  " />
                <source media="(min-width: 768px)" srcset="
                img/slider/exhibition-watch-front-1-tab.png   1x,
                img/slider/exhibition-watch-front-1-tab-2x.png 2x
                  " />
                <source media="(max-width: 767px)" srcset="
                img/slider/exhibition-watch-front-1-mob.png  1x,
                img/slider/exhibition-watch-front-1-mob-2x.png 2x
                  " />
                <img class="image-sale" src="img/slider/exhibition-watch-front-1-dt.jpg" alt="watch" width="96"
                  height="100" />
              </picture>
            </li>
            <li class="sale-item-big" id="large-2">
              <picture>
                <source media="(min-width: 1280px)" srcset="
                img/slider/exhibition-watch-front-2-dt.png  1x,
                img/slider/exhibition-watch-front-2-dt-2x.png 2x
                  " />
                <source media="(min-width: 768px)" srcset="
                img/slider/exhibition-watch-front-2-tab.png   1x,
                img/slider/exhibition-watch-front-2-tab-2x.png 2x
                  " />
                <source media="(max-width: 767px)" srcset="
                img/slider/exhibition-watch-front-2-mob.png  1x,
                img/slider/exhibition-watch-front-2-mob-2x.png 2x
                  " />
                <img class="image-sale" src="img/slider/exhibition-watch-front-2-dt.jpg" alt="watch" width="96"
                  height="100" />
              </picture>
            </li>
            <li class="sale-item-big" id="large-3">
              <picture>
                <source media="(min-width: 1280px)" srcset="
                img/slider/exhibition-watch-side-dt.png  1x,
                img/slider/exhibition-watch-side-dt-2x.png 2x
                  " />
                <source media="(min-width: 768px)" srcset="
                img/slider/exhibition-watch-side-tab.png   1x,
                img/slider/exhibition-watch-side-tab-2x.png 2x
                  " />
                <source media="(max-width: 767px)" srcset="
                img/slider/exhibition-watch-side-mob.png  1x,
                img/slider/exhibition-watch-side-mob-2x.png 2x
                  " />
                <img class="image-sale" src="img/slider/exhibition-watch-side-dt.jpg" alt="watch" width="96"
                  height="100" />
              </picture>
            </li>
            <li class="sale-item-big" id="large-4">
              <picture>
                <source media="(min-width: 1280px)" srcset="
                img/slider/exhibition-watch-back-dt.png  1x,
                img/slider/exhibition-watch-back-dt-2x.png 2x
                  " />
                <source media="(min-width: 768px)" srcset="
                img/slider/exhibition-watch-back-tab.png   1x,
                img/slider/exhibition-watch-back-tab-2x.png 2x
                  " />
                <source media="(max-width: 767px)" srcset="
                img/slider/exhibition-watch-back-mob.png  1x,
                img/slider/exhibition-watch-back-mob-2x.png 2x
                  " />
                <img class="image-sale" src="img/slider/exhibition-watch-back-dt.png" alt="watch" width="96"
                  height="100" />
              </picture>
            </li>
            <li class="sale-item-big active first" id="large-5">
              <picture>
                <source media="(min-width: 1280px)" srcset="img/sale-big-dt.png 1x, img/sale-big-dt2x.png 2x" />
                <source media="(min-width: 768px)" srcset="img/sale-big-tab.png 1x, img/sale-big-tab2x.png 2x" />
                <source media="(max-width: 767px)" srcset="img/sale-big-mob.png 1x, img/sale-big-mob2x.png 2x" />
                <img class="image-sale" src="img/sale-big-dt.png" alt="watch" width="96" height="100" />
              </picture>
            </li>
          </ul>
        </div>
      </div>
      <div class="discription-sale">
        <h3 class="discription-sale-title">
          MARQ<span>&#174;</span> Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-product-tag">Product tag: 706587</p>
        <p class="sale-text-price">
          <span class="sale-discount">€1500</span><span class="sale-price">€3000</span>
        </p>
        <p class="sale-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="list-advantages-sale">
          <li class="advantages-item-sale">Fused carbon fiber</li>
          <li class="advantages-item-sale">Grade-5 Titanuim</li>
          <li class="advantages-item-sale">Athlete</li>
          <li class="advantages-item-sale">Golfer</li>
          <li class="advantages-item-sale">Commander</li>
          <li class="advantages-item-sale">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>