<section class="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <ul class="sale-list">
      <li class="sale-item">
        <img
          class="image-sale-item"
          srcset="/img/sale-small-1-mob.png 1x, /img/sale-small-1-mob2x.png 2x"
          src="/img/sale-small-1-mob.png"
          alt=""
          width="80px"
          height="80px"
        />
      </li>
      <li class="sale-item">
        <img
          class="image-sale-item"
          srcset="/img/sale-small-2-mob.png 1x, /img/sale-small-2-mob2x.png 2x"
          src="/img/sale-small-2-mob.png"
          alt=""
          width="80px"
          height="80px"
        />
      </li>
      <li class="sale-item">
        <img
          class="image-sale-item"
          srcset="/img/sale-small-3-mob.png 1x, /img/sale-small-3-mob2x.png 2x"
          src="/img/sale-small-3-mob.png"
          alt=""
          width="80px"
          height="80px"
        />
      </li>
      <li class="sale-item">
        <img
          class="image-sale-item"
          srcset="/img/sale-small-4-mob.png 1x, /img/sale-small-4-mob2x.png 2x"
          src="/img/sale-small-4-mob.png"
          alt=""
          width="80px"
          height="80px"
        />
      </li>
    </ul>
    <img
      class="image-sale"
      srcset="/img/sale-big-mob.png 1x, /img/sale-big-mob2x.png 2x"
      src="/img/sale-big-mob.png"
      alt=""
      width="335px"
      height="385px"
    />
    <div class="discription-sale">
      <h3 class="discription-sale-title">
        MARQ<span>&#174;</span> Commander (Gen 2) - Carbon Edition
      </h3>
      <p class="sale-product-tag">Product tag: 706587</p>
      <p class="sale-text-price">
        <span class="sale-discount">€1500</span
        ><span class="sale-price">€3000</span>
      </p>
      <p class="sale-text">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="list-advantages-sale">
        <li class="advantages-item-sale">Fused carbon fiber</li>
        <li class="advantages-item-sale">Grade-5 Titanuim</li>
        <li class="advantages-item-sale">Athlete</li>
        <li class="advantages-item-sale">Golfer</li>
        <li class="advantages-item-sale">Commander</li>
        <li class="advantages-item-sale">Adventurer</li>
      </ul>
    </div>
  </div>
</section>
