
.about-us {
  background-color: aqua;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.container{
  display: flex;
}


.cards{
    text-align: center;
      padding: 20px;
      width: 335px;
      border: 1px solid #000;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}








.catalog-btn{
  height: 48px;
  width: 160px;
  border-radius: 16px;
  background-color: #3350E9;
  line-height: 18px; 
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  font-size: 14px;


}