.section {
  padding-top: 60px;
}

.section-title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.catalog-item {
  padding: 24px 28px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 100%;
  background: #f3f3f3;
}

.catalog-img {
  margin: 0 auto;
}

.watch-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.watch-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.catalog-btn {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  border: none;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
}

.item-hidden {
  display: none;
}

/* tablet  */

@media screen and (min-width: 768px) {
  .section {
    padding-top: 80px;
  }

  .section-title {
    font-size: 48px;
    line-height: 0.91667;
  }

  .catalog-list {
    row-gap: 32px;
    column-gap: 16px;
  }

  .catalog-item {
    padding: 24px 32px;
    max-width: 344px;
  }

  .watch-name {
    font-size: 20px;
    line-height: 1;
  }

  .item-hidden {
    display: block;
  }

  .catalog-btn {
    display: none;
  }
}

/* desktop  */

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 100px;
  }

  .catalog-list {
    column-gap: 23px;
  }

  .catalog-item {
    max-width: 368px;
  }
}
