body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Gilroy, sans-serif;
  background-color: #fbfbfb;
}

main {
  flex-grow: 1;
}

/* -----------------------------------container section section-title ------------------------------------------- */

.container {
  width: auto;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  padding-top: 60px;
}

.section-title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .section {
    padding-top: 80px;
  }

  .section-title {
    font-size: 48px;
    line-height: 0.91667;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }

  .section {
    padding-top: 100px;
  }
}

/* ----------------------------social-media-icons------------------------------------------- */

.social-media-list {
  display: flex;
  gap: 10px;
}

.social-media-item {
  width: 34px;
  height: 34px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(251, 251, 251, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover .social-media-icon,
.social-media-link:focus .social-media-icon {
  fill: #fbfbfb;
}

.social-media-icon {
  fill: #cbcbcb;
}

@media screen and (min-width: 768px) {
  .social-media-item {
    width: 36px;
    height: 36px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
